body {
  color: #404040;
  font-size: 12px;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.mCont {
  margin: 0 auto;
  width: 660px;
}

#body-wrapper {
}

#header {
  background: #fff;
  border-top: solid 10px #000;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

  #header .mCont {
    border-bottom: solid 1px #ddd;
  }
  
  #header h1 {
  }
  
  #header h1 a {
    color: #404040;
    font-size: 2.4em;
    line-height: 80px;
  }
  
  #header h1 a strong {
    text-transform: uppercase;
  }

#main-content {
}

#nav {
  position: fixed;
  width: 119px;
  top: 108px;
}

  #nav li {
    margin: 0 0 10px 0;
  }
  
  #nav li a {
    color: inherit;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.4em;
    text-transform: uppercase;
  }
  
  #nav li a:hover {
    text-decoration: underline;
  }

#primary-cont {
  border-left: solid 1px #ddd;
  float: right;
  padding: 0 0 0 60px;
  width: 480px;
}

  #primary-cont .section {
    line-height: 1.4em;
    margin: 0 0 40px 0;
    padding: 107px 0 0 0;
  }
  
  #primary-cont .section h2 {
    font-weight: bold;
    line-height: 1.4em;
    margin: 0 0 15px 0;
    text-transform: uppercase;
  }
  
  #primary-cont .section p {
    margin: 0 0 10px 0;
  }
  
  #primary-cont .code {
    background: #e8e8e8;
    font-size: 1.2em;
    left: -20px;
    line-height: 1.4em;
    margin: 0 0 15px 0;
    padding: 18px 20px;
    position: relative;
    width: 460px;
  }
  
  #primary-cont .code h3 {
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  #primary-cont .code pre {
    font-family: 'Source Code Pro', sans-serif;
    line-height: 1.25em;
    margin: 0;
  }
  
  #primary-cont .code .snippet {
  }
  
  #primary-cont .code .snippet.withBorder {
    border-bottom: solid 1px #d0d0d0;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
  }
  
  #primary-cont table {
    border-collapse: collapse;
    width: 100%;
  }
  
  #primary-cont table thead {
    background: #e8e8e8;
    text-align: left;
  }
  
  #primary-cont table th,
  #primary-cont table td {
    border: solid 1px #d9d9d9;
    padding: 6px 15px;
    vertical-align: top;
  }
  
  #primary-cont table .name {
    border-left: none;
  }
  
  #primary-cont table .description {
    border-right: none;
  }

#demo {
}

#demo .examples {
  margin: 0 0 15px 0;
}

  #demo .examples li {
    position: relative;
  }
  
  #demo .examples li a {
    color: inherit;
    line-height: 1.4em;
  }
  
  #demo .examples li a:hover {
    text-decoration: underline;
  }

#demo .result {
}

  #demo .result h3 {
    font-size: .9em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0 0 5px 0;
  }
  
  #demo .result .resultCont {
    float: left;
    height: 150px;
    width: 100px;
  }
  
  #demo .result .resultCont .pngToCss {
    font-size: 1px;
    height: 1em;
    margin: 75px 50px;
    width: 1em;
  }
  
  #demo .result .outputCont {
    float: right;
    width: 370px;
  }
  
  #demo .result .outputCont .output {
    border: solid 1px #ddd;
    height: 130px;
    padding: 10px;
    width: 350px;
    resize: vertical;
  }
